{# templates/vote/vote_page.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vote</h1>
    <form method="post" action="{{ path('submitvote') }}">
        <label for="candidate">Choisissez votre candidat :</label>
        <select name="candidate" id="candidate">
            {% for candidate in candidates %}
                <option value="{{ candidate.id }}">{{ candidate.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-success">Voter</button>
    </form>
{% endblock %}

