{# templates/registration/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inscription réussie{% endblock %}

{% block body %}
    <h1>Inscription réussie !</h1>
    <p>Votre inscription a été effectuée avec succès. Vous pouvez maintenant vous connecter.</p>
{% endblock %}

